@charset "UTF-8";
/* CSS Document */

@font-face {
  font-family: Grobold;
  src: url(../assets/GROBOLD.ttf);
}       

/*DF
 *		Background Blue:	2e86c4
 *		Dark Blue:			0f5180
 *		Bubble Yellow:		ffda6e
 *		Action Orange:		ff672f
 *		Error Red:			ff672f
 */

.background_blue {
	color: #ff672f;
}
.dark_blue {
	color: #ff672f;
}
.bubble_yellow {
	color: #ff672f;
}
.action_orange {
	color: #ff672f;
	display:inline;
}

.error_red {
	color: #F00; /* error red */
	display:inline;
}


body {
	font-family: Grobold;
	color: #0f5180;
	background: #42413C;
	margin: 0;
	padding: 0;
	font-size: small;
}
/* ~~ Element/tag selectors ~~ */
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing block. The remaining bottom margin will hold it away from any elements that follow. */
	padding-right: 15px;
	padding-left: 15px; /* adding the padding to the sides of the elements within the blocks, instead of the block elements themselves, gets rid of any box model math. A nested block with side padding can also be used as an alternate method. */
}

h1 {
	font-size: large;	
}
h2 {
	font-size: medium;	
}

.save_changes {
	color: #ff672f;
	display:inline;
	float:right;
	border-style:solid;
	margin-right: 20px;
	margin-top:-10px;
	padding: 5px;
}

a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}

/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link {
	color: #ff672f;
	text-decoration: none; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
a:visited {
	color: #ff672f;
	text-decoration: none;
}
a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: underline;
}
/* ~~ This fixed width container surrounds all other blocks ~~ */
.container {
	width: 760px;
	background: #2e86c4; /* background blue */;
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */
}


/* ~~ The header is not given a width. It will extend the full width of your layout. ~~ */
header {
	height: 80px;
	background: #2e86c4; /* background blue */; 
}

header img {
	margin-left: 8px;
}


.graduation {
	float: left;
	margin-right: 8px;
	margin-top: 32px;
}

.header_score {
	float: right;
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 16px;
}

.header_score img {
	vertical-align:middle;	
}

.sidebar_bubble {
	float: left;
	margin-left: 10px;
	margin-top: 00px; /* distance from CQ logo - add 20 to height to meet height of main  bubble */
/*	padding: 10px 0;*/
	width:170px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	border:4px solid #0f5180; /* dark blue */;
	background-color:#ffda6e; /* bubble yellow */;
	-webkit-box-shadow: #212D45 16px 16px 16px;
	-moz-box-shadow: #212D45 16px 16px 16px; 
	box-shadow: #212D45 16px 16px 16px;	
}

.error {
	border-style:none;	
	float: left;
	margin-bottom: 00px;
	margin-left: 50px;
	padding: 0;
	width:610px;	/*  This is same as activity_option */
	color: #F00;
}

.sidebar {
	float: left;
	width: 170px;
}

/*  The image area and name / level of avatar */
.avatar_sidebar {
	padding-top: 10px; 
	text-align:center;
}

/* 	The actual avatar image 	*/
.sidebar #avatar_image {
	border-width: 2px;
	border-style: solid;
	border-color: #ff672f; /* action orange */
	margin-bottom: 5px;
}

/* The area in sidebar bubble with the scores */
.sidebar_scores {
	padding-top: 10px;
	padding-right: 10px;
	text-align: right;
	color: #ff672f; /* action orange */
}
.sidebar_scores img {
	vertical-align:middle;	
	padding-left: 10px;
	padding-bottom: 5px;
}


.content {
	width: 560px;
	float: left; 
}

aside {
	float: left;
	width: 180px;
	background: #EADCAE;
	padding: 10px 0;
}


/* ~~ This grouped selector gives the lists in the .content area space ~~ */
.content ul, .content ol {
	padding: 0 15px 15px 40px; /* this padding mirrors the right padding in the headings and paragraph rule above. Padding was placed on the bottom for space between other elements on the lists and on the left to create the indention. These may be adjusted as you wish. */
}

.content_area_bubble {
	float: left;
	margin-top: 00px;
	margin-bottom: 20px;
	margin-left: 20px;
	padding: 10px 0;
	width:520px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	border:4px solid #0f5180; /* dark blue */;
	background-color:#ffda6e; /* bubble yellow */;
	-webkit-box-shadow: #212D45 16px 16px 16px;
	-moz-box-shadow: #212D45 16px 16px 16px; 
	box-shadow: #212D45 16px 16px 16px;	
}

.content_area_bubble_wide  {
	float: left;
	margin-top: 00px;
	margin-bottom: 20px;
	margin-left: 20px;
	padding: 10px 0;
	width:710px;	/*  This is content_area_bubble width + 170 for side bubble width + 20 margin left we're losing */
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	border:4px solid #0f5180; /* dark blue */;
	background-color:#ffda6e; /* bubble yellow */;
	-webkit-box-shadow: #212D45 16px 16px 16px;
	-moz-box-shadow: #212D45 16px 16px 16px; 
	box-shadow: #212D45 16px 16px 16px;	
}

.content_area_activity_chooser {
	float: left;
	padding-left: 10px;
	padding-top: 10px;	
}

.content_area_activity_chooser h1 {
	padding-bottom: 0px;
	margin: 0px;	
}

.content_area_activity_chooser h2 {
	padding-top: 5px;
	padding-left: 40px;	
	margin: 0px;	
}

.content_area_activity_chooser ul {
	float: left;
	list-style: none; /* this removes the list marker */
	font-size: medium;
	text-align: right;
	padding-top: 0px;
	padding-left: 100px;
}


.content_area_activity_chooser  ul a, nav ul a:visited {
	float: right;
	/* top right bottom middle*/
	display: block; /* this gives the link block properties causing it to fill the whole LI containing it. This causes the entire area to react to a mouse click. */
	padding-top: 10px
}

.content_area_activity_chooser img {
	padding-left: 20px;
	vertical-align: middle;	
}


.activity_option {
	border-style:groove;	
	float: left;
	margin-top: 5px;
	margin-bottom: 00px;
	margin-left: 50px;
	padding: 0;
	padding-top: 0px;
	width:610px;	/*  This is content_area_bubble_wide width -100  */
}

.activity_option img {
	margin: 0;
	margin-top: -6px;
	vertical-align: middle;	
	padding: 0;	
}


.activity_checkbox {
	float: left;	
	text-align: center;
	
}

.activity_checkbox img {
	margin-top:5px;
}

.activity_details {
	float: right;	
	border-left: groove;
	width: 550px; /*	this dirty hack is to stop stupid float issues - it is activity_option width - 60 */
}



/* ~~ The navigation list styles (can be removed if you choose to use a premade flyout menu like Spry) ~~ */
nav ul {
	list-style: none; /* this removes the list marker */
	border-top: 1px solid #666; /* this creates the top border for the links - all others are placed using a bottom border on the LI */
	margin-bottom: 15px; /* this creates the space between the navigation on the content below */
}
nav ul li {
	border-bottom: 1px solid #666; /* this creates the button separation */
}
nav ul a, nav ul a:visited { /* grouping these selectors makes sure that your links retain their button look even after being visited */
	padding: 5px 5px 5px 15px;
	display: block; /* this gives the link block properties causing it to fill the whole LI containing it. This causes the entire area to react to a mouse click. */
	width: 160px;  /*this width makes the entire button clickable for IE6. If you don't need to support IE6, it can be removed. Calculate the proper width by subtracting the padding on this link from the width of your sidebar container. */
	text-decoration: none;
	background: #C6D580;
}
nav ul a:hover, nav ul a:active, nav ul a:focus { /* this changes the background and text color for both mouse and keyboard navigators */
	background: #ADB96E;
	color: #FFF;
}

/* ~~ The footer ~~ */
footer {
	padding: 10px 0;
	background: #2e86c4; /* background blue */; 
	position: relative;/* this gives IE6 hasLayout to properly clear */
	clear: both; /* this clear property forces the .container to understand where the columns end and contain them */
	height:100px;
}

.footer_bubble {
	float: left;
	margin-left: 10px;

	padding: 10px 0;
	width:720px;
	height:60px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	border:4px solid #0f5180; /* dark blue */;
	background-color:#ffda6e; /* bubble yellow */;
	-webkit-box-shadow: #212D45 16px 16px 16px;
	-moz-box-shadow: #212D45 16px 16px 16px; 
	box-shadow: #212D45 16px 16px 16px;	
}

.footer_bubble img {
	margin-top: -5px;
	vertical-align: middle;	
}


/* ~~ Miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class can be placed on a <br /> or empty block element as the final element following the last floated block (within the .container) if the footer is removed or taken out of the .container */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

/*HTML 5 support - Sets new HTML 5 tags to display:block so browsers know how to render the tags properly. */
header, section, footer, aside, nav, article, figure {
	display: block;
}